Node-Red/Node-RED flows.json
[
    {
        "id": "99166529b4135d9a",
        "type": "tab",
        "label": "Broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86455c015ae650a0",
        "type": "tab",
        "label": "RGB ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b848663afbdce68",
        "type": "tab",
        "label": "AC ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ddaa6eb233e0d37",
        "type": "tab",
        "label": "PI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8991ceb3c3c5c4a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "25629b3ce26ccf6a",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "10.63.200.160",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "messages",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "User Connected ",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "43a010b933015119",
        "type": "ui_tab",
        "name": "Status",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0276b1a883790586",
        "type": "ui_group",
        "name": "RGB Box Status",
        "tab": "43a010b933015119",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f602746b31f1c0c",
        "type": "ui_group",
        "name": "A/C Box Status",
        "tab": "43a010b933015119",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e2ad3dba739b91b",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f9a562f79833cd6",
        "type": "ui_group",
        "name": "A/C",
        "tab": "8e2ad3dba739b91b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7408b37a11aa706c",
        "type": "ui_group",
        "name": "RGB",
        "tab": "8e2ad3dba739b91b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7826944261619f97",
        "type": "ui_group",
        "name": "Speaker Status",
        "tab": "43a010b933015119",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b0c5b7e55a41902",
        "type": "ui_group",
        "name": "Speaker",
        "tab": "8e2ad3dba739b91b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "57bc8eaeb4e0555f",
        "type": "ui_group",
        "name": "Testing",
        "tab": "8e2ad3dba739b91b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8686283892f59c94",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "Aux",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "9237831bb9809ebd"
            ]
        ]
    },
    {
        "id": "802bf053b559b33b",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "Speaker/$",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "7e6ea3997c2b549e",
        "type": "delay",
        "z": "99166529b4135d9a",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "bd82360c236b2e8a"
            ]
        ]
    },
    {
        "id": "bd82360c236b2e8a",
        "type": "ui_switch",
        "z": "99166529b4135d9a",
        "name": "",
        "label": "Speaker on/off",
        "tooltip": "",
        "group": "6b0c5b7e55a41902",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "802bf053b559b33b"
            ]
        ]
    },
    {
        "id": "9237831bb9809ebd",
        "type": "ui_slider",
        "z": "99166529b4135d9a",
        "name": "",
        "label": "Delay",
        "tooltip": "",
        "group": "6b0c5b7e55a41902",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "delay",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "7e6ea3997c2b549e"
            ]
        ]
    },
    {
        "id": "c51285e47b9a8311",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "speaker/speaker1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "5a3cd2e3ac8a0e67"
            ]
        ]
    },
    {
        "id": "5a3cd2e3ac8a0e67",
        "type": "ui_text",
        "z": "99166529b4135d9a",
        "group": "7826944261619f97",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speaker 1 Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "a187e646f90a785f",
        "type": "ui_gauge",
        "z": "99166529b4135d9a",
        "name": "",
        "group": "7826944261619f97",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Number of boxes online:",
        "label": "Boxes",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "ca08835ce299c088",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "aux/auxConnection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "36bc702d269536d4"
            ]
        ]
    },
    {
        "id": "36bc702d269536d4",
        "type": "ui_text",
        "z": "99166529b4135d9a",
        "group": "7826944261619f97",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aux Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "4b13f5f5040af325",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "testing/frames/broker",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "a375761bcd2529da",
        "type": "mqtt in",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "testing/frames/client",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "3019aaf2f7316a59"
            ]
        ]
    },
    {
        "id": "82bc29902544674a",
        "type": "ui_text_input",
        "z": "99166529b4135d9a",
        "name": "",
        "label": "frames (500 - 4000)",
        "tooltip": "",
        "group": "57bc8eaeb4e0555f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "testing/frames/broker",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "ab76958fed7ff1bf"
            ]
        ]
    },
    {
        "id": "ab76958fed7ff1bf",
        "type": "function",
        "z": "99166529b4135d9a",
        "name": "Frame Setter",
        "func": "flow.set(\"frames\", msg)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3019aaf2f7316a59",
        "type": "function",
        "z": "99166529b4135d9a",
        "name": "Frame Reader",
        "func": "msg = flow.get(\"frames\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "4b13f5f5040af325"
            ]
        ]
    },
    {
        "id": "f704686e54e4d5e7",
        "type": "ui_button",
        "z": "99166529b4135d9a",
        "name": "",
        "group": "57bc8eaeb4e0555f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "b54ac5e9d08af925"
            ]
        ]
    },
    {
        "id": "b54ac5e9d08af925",
        "type": "mqtt out",
        "z": "99166529b4135d9a",
        "name": "",
        "topic": "lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 330,
        "y": 760,
        "wires": []
    },
    {
        "id": "2975d9316a6a0cc1",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box0/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "4e667f3fdb0353d8"
            ]
        ]
    },
    {
        "id": "4e667f3fdb0353d8",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 1 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "1c3f716ed250a499",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2e89da02246a732d"
            ]
        ]
    },
    {
        "id": "2e89da02246a732d",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 2 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "61924a685b0c1eaa",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box2/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "0dfc50cb7b79a0c5"
            ]
        ]
    },
    {
        "id": "0dfc50cb7b79a0c5",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 3 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "ec88e5733e2be59e",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box3/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f85d08151a7cb68d"
            ]
        ]
    },
    {
        "id": "f85d08151a7cb68d",
        "type": "ui_text",
        "z": "86455c015ae650a0",
        "group": "0276b1a883790586",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 4 (RGB) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "be9ad89acf9807cf",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 1 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "66249743e24ee0e5"
            ]
        ]
    },
    {
        "id": "0826e73767b4529f",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 2 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "ead33867e74a05be"
            ]
        ]
    },
    {
        "id": "591c2beb293aa184",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 3 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "95041610cd605387"
            ]
        ]
    },
    {
        "id": "a082f89545ee4ad7",
        "type": "ui_switch",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Box 4 on/off",
        "tooltip": "",
        "group": "7408b37a11aa706c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "634245f5c280755e"
            ]
        ]
    },
    {
        "id": "62451de708acfbf5",
        "type": "ui_dropdown",
        "z": "86455c015ae650a0",
        "name": "",
        "label": "Color Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "7408b37a11aa706c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Fire",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Grass",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Ocean",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Rainbow",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Christmas",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "a88d350b4b3217be"
            ]
        ]
    },
    {
        "id": "e623b77542ebb1dd",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "74a9cddb98329a36",
        "type": "mqtt in",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "3fd3ddb70389507d"
            ]
        ]
    },
    {
        "id": "3fd3ddb70389507d",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RGBMode",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "f87763185f0e3439",
                "56b08d5df3b8956f"
            ]
        ]
    },
    {
        "id": "a88d350b4b3217be",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "66249743e24ee0e5",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox0Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f87763185f0e3439",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox0Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "e623b77542ebb1dd"
            ]
        ]
    },
    {
        "id": "ead33867e74a05be",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox1Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "95041610cd605387",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox2Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "634245f5c280755e",
        "type": "change",
        "z": "86455c015ae650a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RGBbox3Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "56b08d5df3b8956f",
        "type": "switch",
        "z": "86455c015ae650a0",
        "name": "",
        "property": "RGBbox1Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 640,
        "wires": [
            [
                "ee2215d569593d9e"
            ]
        ]
    },
    {
        "id": "ee2215d569593d9e",
        "type": "mqtt out",
        "z": "86455c015ae650a0",
        "name": "",
        "topic": "lights/RGB/box1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "fd84d2574ba350d2",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box0/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "36f2364cd64c9584"
            ]
        ]
    },
    {
        "id": "36f2364cd64c9584",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 1 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff6a640d3c46639f",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "9b7691d6d048ef78"
            ]
        ]
    },
    {
        "id": "9b7691d6d048ef78",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 2 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "684737f7a88ba7a6",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box2/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5575d0a5fc9f56e2"
            ]
        ]
    },
    {
        "id": "5575d0a5fc9f56e2",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 3 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f8d8827ab5f0e76",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box3/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "b11135e420e9f5c9"
            ]
        ]
    },
    {
        "id": "b11135e420e9f5c9",
        "type": "ui_text",
        "z": "3b848663afbdce68",
        "group": "4f602746b31f1c0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box 4 (A/C) Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "8f953703e8348b0d",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 1 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "41323c831b1407c6"
            ]
        ]
    },
    {
        "id": "8bc23215e8edb329",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 2 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "b63e7091887d588d"
            ]
        ]
    },
    {
        "id": "df509c7c37b21eda",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 3 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "e11d4dda5009de7f"
            ]
        ]
    },
    {
        "id": "91e78a9055e6e982",
        "type": "ui_switch",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Box 4 on/off",
        "tooltip": "",
        "group": "2f9a562f79833cd6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "302761d3389ff484"
            ]
        ]
    },
    {
        "id": "07d6dd0e4ebb2ecc",
        "type": "ui_dropdown",
        "z": "3b848663afbdce68",
        "name": "",
        "label": "Color Mode",
        "tooltip": "",
        "place": "1",
        "group": "2f9a562f79833cd6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Mode 1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Mode 2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Mode 3",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ACMode",
        "topicType": "global",
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "275382435e3217de"
            ]
        ]
    },
    {
        "id": "2ee013f934ababc9",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "093bc32b8e8b418e",
        "type": "mqtt in",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25629b3ce26ccf6a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "af2d5d71e184d838"
            ]
        ]
    },
    {
        "id": "af2d5d71e184d838",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACMode",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "038be91bad9e8964",
                "df04291e7467ba80"
            ]
        ]
    },
    {
        "id": "275382435e3217de",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACMode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "41323c831b1407c6",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox0Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b63e7091887d588d",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox1Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e11d4dda5009de7f",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox2Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "302761d3389ff484",
        "type": "change",
        "z": "3b848663afbdce68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACbox3Toggle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "038be91bad9e8964",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox0Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "2ee013f934ababc9"
            ]
        ]
    },
    {
        "id": "70a0377f6f48ff2f",
        "type": "mqtt out",
        "z": "3b848663afbdce68",
        "name": "",
        "topic": "lights/AC/box1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "25629b3ce26ccf6a",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "df04291e7467ba80",
        "type": "switch",
        "z": "3b848663afbdce68",
        "name": "",
        "property": "ACbox1Toggle",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "70a0377f6f48ff2f"
            ]
        ]
    },
    {
        "id": "3d35b35fe01b0140",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]